{% extends 'base.html' %}

{% block title %}Вопрос{% endblock %}

{% block content %}

    <div class="card mt-3">
        <div class="card-header">
            Вопрос
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ poll.question_text }}</h5>
        </div>
        <div class="card-footer text-muted">
            {{ poll.created_at }}
        </div>
    </div>
    <br>
    <a class="btn btn-info" href="{% url 'poll_update' poll.pk %}">Изменить</a>
    <a class="btn btn-info" href="{% url 'poll_delete' poll.pk %}">Удалить</a>

    {% if poll_choices %}
        <br><br>
        <h3>Варианты ответа:</h3>
        <ol class="list-group list-group-numbered">
            {% for choice in poll_choices %}
                <li class="list-group-item">{{ choice.choice_text }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <br><br>
        <h3>У данного вопроса пока нет вариантов ответа</h3>
    {% endif %}

{% endblock %}

                {#            <a class="mylink" href="{% url 'task_delete' task.pk %}">Удалить</a> &nbsp;#}
                {#            <a class="mylink" href="{% url 'task_update' task.pk %}">Редактировать</a>#}